@import url("variable.css");

a {
  color: var(--color-noir);
  cursor: pointer;
  font-family: var(--typo-titre);
  text-decoration: none;
}

/* ---------------------------------
              FONT PAGE
--------------------------------- */

.charte-graphique {
  background-image: radial-gradient(
      circle at 27% 33%,
      rgba(193, 193, 193, 0.04) 0%,
      rgba(193, 193, 193, 0.04) 50%,
      rgba(77, 77, 77, 0.04) 50%,
      rgba(77, 77, 77, 0.04) 100%
    ),
    radial-gradient(
      circle at 35% 8%,
      rgba(183, 183, 183, 0.04) 0%,
      rgba(183, 183, 183, 0.04) 50%,
      rgba(25, 25, 25, 0.04) 50%,
      rgba(25, 25, 25, 0.04) 100%
    ),
    radial-gradient(
      circle at 93% 50%,
      rgba(218, 218, 218, 0.04) 0%,
      rgba(218, 218, 218, 0.04) 50%,
      rgba(127, 127, 127, 0.04) 50%,
      rgba(127, 127, 127, 0.04) 100%
    ),
    linear-gradient(90deg, hsl(116, 0%, 99%), hsl(116, 0%, 99%));
  margin: var(--margin-s);
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 1024px) {
  .charte-graphique {
    margin: var(--margin-m);
  }
}

body.ClairSombre .charte-graphique {
  background-image: none;
  border: var(--border-m-blanc);
}

/* ---------------------------------
            BTN SOMMAIRE
--------------------------------- */

.sommaire {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}

.btn-sommaire-charte-graph {
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: var(--border-s-noir);
  color: var(--color-noir);
  border-radius: var(--radius-xs);
  max-width: min-content;
  white-space: nowrap;
  padding: var(--padding-s);
  font-size: var(--typo-size-s);
}

body.ClairSombre .btn-sommaire-charte-graph {
  border: var(--border-s-blanc);
  color: var(--color-blanc);
}

.btn-sommaire-charte-graph:hover {
  background-color: var(--color-bleu-clair);
}

body.ClairSombre .btn-sommaire-charte-graph:hover {
  background-color: var(--color-bleu-fonce);
}

/* ---------------------------------
          texte et image
--------------------------------- */

p {
  margin: 0;
}

.typo {
  margin-top: 40px;
  margin: auto;
  max-width: 1000px;
}

h2,
h3 {
  text-align: center;
}

.typo-orbitron {
  font-family: var(--typo-titre);
}

.typo-ibm-plex-mono {
  font-family: var(--typo-texte);
}
.typo-nasalization {
  font-family: "nasalization", sans-serif;
}

.logo {
  display: flex;
  height: 200px;
  margin: auto;
}

.banniere {
  display: flex;
  height: 110px;
  margin: auto;
}

.description-logo {
  text-align: center;
  margin-bottom: 75px;
}

@media screen and (max-width: 450px) {
  .banniere {
    height: 80px;
  }
}

@media screen and (min-width: 720px) {
  .logo {
    height: 250px;
  }

  .banniere {
    height: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .colonne-x2 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 30px;
  }

  .elt {
    max-width: 65%;
  }

  .elt-logo {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    max-width: 95%;
  }

  .logo {
    height: 250px;
  }

  .banniere {
    height: 200px;
  }
}

/* ----------------------------------
            PALETTE COULEUR
-----------------------------------*/

.couleur-tel {
  display: none;
}

@media not (pointer: fine) {
  .couleur-tel {
    display: flex;
    justify-content: space-around;
  }
}

.palette {
  display: flex;
  height: 200px;
  width: 80%;
  border-radius: var(--radius-l);
  overflow: hidden;
  margin: auto;
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blanc);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.color:nth-child(1) {
  background: var(--color-bleu-clair);
}

.color:nth-child(2) {
  background: var(--color-bleu-milieu);
}

.color:nth-child(3) {
  background: var(--color-bleu-fonce);
}

.color:hover {
  flex: 2;
}

.color:hover span {
  opacity: 1;
}
