@import url("variable.css");

a {
  color: var(--color-noir);
  cursor: pointer;
  font-family: var(--typo-titre);
  text-decoration: none;
}

/* ---------------------------------
              FONT PAGE
--------------------------------- */

.charte-graphique {
  background-color: var(--color-blanc);
  margin: var(--margin-s);
  padding-bottom: 10px;
}

body.ClairSombre .charte-graphique {
  background-color: var(--color-noir);
  border: var(--border-s-blanc);
}

/* ---------------------------------
            BTN SOMMAIRE
--------------------------------- */
.sommaire-charte-graph {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: var(--border-s-noir);
  text-align: center;
  color: var(--color-noir);
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 5px;
  max-width: min-content;
  white-space: nowrap;
  padding: var(--padding-s);
  font-size: var(--typo-size-s);
}

body.ClairSombre .sommaire-charte-graph {
  border: var(--border-s-blanc);
  color: var(--color-blanc);
}

.sommaire-charte-graph:hover {
  background-color: var(--color-bleu-clair);
}

body.ClairSombre .sommaire-charte-graph:hover {
  background-color: var(--color-bleu-clair);
  color: var(--color-noir);
}

/* ---------------------------------
          texte et image
--------------------------------- */

p {
  margin: 0;
}

.typo {
  margin-top: 40px;
  margin: auto;
  max-width: 1000px;
}

h2,
h3 {
  text-align: center;
}

.typo-orbitron {
  font-family: var(--typo-titre);
}

.typo-ibm-plex-mono {
  font-family: var(--typo-texte);
}

.logo {
  display: flex;
  height: 200px;
  margin: auto;
}

.banniere {
  display: flex;
  height: 110px;
  margin: auto;
}

.description-logo {
  text-align: center;
  margin-bottom: 75px;
}

@media screen and (max-width: 450px) {
  .banniere {
    height: 80px;
  }
}

@media screen and (min-width: 720px) {
  .logo {
    height: 250px;
  }

  .banniere {
    height: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .colonne-x2 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 30px;
  }

  .elt {
    max-width: 65%;
  }

  .elt-logo {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    max-width: 95%;
  }

  .logo {
    height: 250px;
  }

  .banniere {
    height: 200px;
  }
}

/* ----------------------------------
            PALETTE COULEUR
-----------------------------------*/

.couleur-tel {
  display: none;
}

@media not (pointer: fine) {
  .couleur-tel {
    display: block;
    text-align: center;
  }
}

.palette {
  display: flex;
  height: 200px;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blanc);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.color:nth-child(1) {
  background: #acddf6;
}

.color:nth-child(2) {
  background: #4269b1;
}

.color:nth-child(3) {
  background: #28337e;
}

.color:hover {
  flex: 2;
}

.color:hover span {
  opacity: 1;
}
