@import url("variable.css");

/*------------------------------------
          MISE EN PAGE PAGE 
-------------------------------------*/
.cv,
.sans-fond {
  background-color: var(--color-blanc);
}

body.ClairSombre .cv,
body.ClairSombre .sans-fond {
  background-color: var(--color-noir);
  border: var(--border-s-blanc);
}

/*------------------------------------
    MISE EN PAGE GRILLE POUR MOBILE
-------------------------------------*/

.cv {
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
  margin: auto;
  margin: var(--margin-s);
}

/* -----------------------------------------------
        BOX CONTACT / CENTRE INTERET / QRCODE 
-------------------------------------------------*/

.img_cv_photo {
  width: 10rem;
  border-radius: 100%;
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-decoration: none;
}

.taille_qrcode {
  margin: auto;
  width: 4.5rem;
  height: auto;
  text-decoration: none;
}

/* ------------------------------------------
    BLOC OBJECTIF / FORMATION / EXPERIENCE 
---------------------------------------------*/

.recherche {
  text-align: center;
  font-size: var(--typo-size-xxl);
}

h3 {
  text-align: center;
}

/* ------------------------------------
            BLOC COMPETENCE 
--------------------------------------*/

li {
  font-family: var(--typo-texte);
  font-size: var(--typo-size-l);
}

.langage,
.logiciels {
  text-align: center;
}

/* ------------------------------------
        RESET MARGE / PADDING
--------------------------------------*/

.marge-top-none {
  margin-top: 0px;
}

.marge-gauche {
  padding-left: 0px;
}

/* ------------------------------------
        RESET COULEURS
--------------------------------------*/

.sans-fond {
  /* pour titre h1*/
  background-color: var(--color-blanc);
}

li a {
  color: var(--color-noir);
}

body.ClairSombre li a {
  background-color: var(--color-noir);
  color: var(--color-blanc);
  border: none;
}

/* -------------------------------------
                BORDER DU CV 
---------------------------------------*/

.grande-ligne-milieu {
  padding-right: 10px;
  border-right: var(--border-l-bleu-fonce);
}

.grande-ligne-haut {
  border-top: var(--border-m-bleu-fonce);
}

.petite-ligne {
  width: 25%;
  border-top: var(--border-s-bleu-fonce);
}

/* -------------------------------------
                AUTRES
---------------------------------------*/

.centrer {
  text-align: center;
}

/* -------------------------------------
                RESPONSIVE
---------------------------------------*/

/*------------------------------------
  MISE EN PAGE GRILLE POUR MOBILE
-------------------------------------*/
@media screen and (max-width: 600px) {
  .grande-ligne-milieu {
    border-style: none;
  }
}

/*------------------------------------
  MISE EN PAGE GRILLE POUR TABLETTE
-------------------------------------*/

@media screen and (min-width: 600px) {
  .cv {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .contact {
    grid-column: 1; /* Colonne A */
    grid-row: 1; /* Ligne A */
  }

  .obj-formation {
    grid-column: 2; /* Colonne B */
    grid-row: 1; /* Ligne A */
  }

  .experience {
    grid-column: 1 / span 2; /* Colonne A et B */
    grid-row: 2; /* Ligne B */
  }

  .competence {
    grid-column: 1 / span 2; /* Colonne A et B */
    grid-row: 3; /* Ligne C */
  }

  .logiciels {
    grid-column: 1; /* Colonne A */
    grid-row: 4; /* Ligne D */
  }

  .langage {
    grid-column: 2; /* Colonne B */
    grid-row: 4; /* Ligne D */
  }

  .experience .petite-ligne {
    border-style: none;
  }

  .experience .grande-ligne-haut,
  .competence {
    border-top: var(--border-m-bleu-fonce);
    width: 100%;
  }
}

/*------------------------------------
    MISE EN PAGE GRILLE POUR ORDI
-------------------------------------*/

@media screen and (min-width: 900px) {
  .cv {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .contact {
    grid-column: 1; /* Colonne A */
    grid-row: span 2; /* Ligne A et B */
  }

  .obj-formation {
    grid-column: 2; /* Colonne B */
    grid-row: 1; /* Ligne A */
  }

  .experience {
    grid-column: 2; /* Colonne B */
    grid-row: 2; /* Ligne B */
  }

  .competence {
    grid-column: 1 / span 2; /* Colonne A et B */
    grid-row: 3; /* Ligne C */
  }

  .logiciels {
    grid-column: 1; /* Colonne A */
    grid-row: 4; /* Ligne D */
  }

  .langage {
    grid-column: 2; /* Colonne B */
    grid-row: 4; /* Ligne D */
  }

  .competence {
    border-top: var(--border-m-bleu-fonce);
    width: 100%;
  }

  .experience .grande-ligne-haut {
    border-style: none;
  }

  .experience .petite-ligne {
    width: 25%;
    border-top: var(--border-s-bleu-fonce);
  }

  .img_cv_photo {
    width: 15rem;
  }

  .taille_qrcode {
    width: 8rem;
  }
}
