@import url("variable.css");

/* MISE EN PAGE DES BOX*/
.cv,
.sans-fond {
  background-color: var(--color-blanc);
}

body.ClairSombre .cv,
body.ClairSombre .sans-fond {
  background-color: var(--color-noir);
  border: var(--border-s-blanc);
}

.cv {
  margin: var(--margin-s);
}

.contact-formation {
  display: flex;
  flex-direction: row;
}

.contact-ctr_interet-qrcode {
  margin-left: 2%;
}

.qrcode {
  margin-left: 10%;
}

.competence {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-s);
  text-align: left;
  position: relative;
}

.logiciels,
.language {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 45%;
  flex-direction: column;
}

.grande-ligne-milieu {
  padding-right: 50px;
  border-right: var(--border-xxl-bleu-fonce);
}

.grande-ligne-bas {
  border-bottom: var(--border-xl-bleu-fonce);
}
.petite-ligne {
  display: flex;
  align-items: center;
  width: 25%;
  border-top: var(--border-m-bleu-fonce);
}

/* MISE EN PAGE CONTENU BOX*/

/* BOX CONTACT / CENTRE INTERET / QRCODE */

.img_cv_photo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-top: 5em;
  margin-left: 8em;
}

.qrcode {
  width: 100px;
  height: 100px;
  text-decoration: none;
  margin-left: 50%;
}
.taille_qrcode {
  width: 100px;
  height: 100px;
  text-decoration: none;
}

.sans-fond {
  /* pour titre h1*/
  background-color: var(--color-blanc);
  margin-right: 0px;
}

.interet {
  padding-top: var(--padding-xl);
  margin-left: 5%;
}
.centrer {
  text-align: center;
}

/* BLOC OBJECTIF / FORMATION / EXPERIENCE */

.recherche {
  text-align: center;
  font-size: var(--typo-size-xxl);
}

h3 {
  text-align: center;
  padding-left: var(--padding-l);
}

p {
  padding-left: var(--padding-l);
}
/* BLOC COMPETENCE */

li {
  font-family: var(--typo-texte);
  font-size: var(--typo-size-l);
}
