@import url("variable.css");

.img_projet {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: auto;
}

a {
  color: var(--color-noir);
  cursor: pointer;
  font-family: var(--typo-titre);
  text-decoration: none;
}

.btn_retour {
  background-color: var(--color-bleu-clair);
  border-radius: var(--radius-m);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: var(--border-s-noir);
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  font-size: var(--typo-size-xl);
  z-index: 20;
}

.btn_retour:hover {
  scale: 1.5;
}

body.ClairSombre .btn_retour {
  color: var(--color-blanc);
  background-color: var(--color-bleu-fonce);
}

.btn_sommaire {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  text-align: center;
  background-color: var(--color-bleu-fonce);
  color: var(--color-blanc);
  border-radius: var(--radius-l);
  margin-top: 15px;
  margin-left: 5px;
  padding: var(--padding-m);
  font-size: var(--typo-size-s);
  white-space: normal;
}

.btn_sommaire:hover {
  background-color: var(--color-bleu-clair);
  color: var(--color-noir);
}

/* ------------------------------------------
                    texte
-------------------------------------------*/

.titre-projet {
  text-align: center;
}

.description-projet {
  margin-left: 20px;
  margin-right: 20px;
}

.img-lien-github {
  display: flex;
  width: 50px;
  margin: auto;
}

body.ClairSombre .img-lien-github {
  color: var(--color-blanc);
}

/* ------------------------------------------
                RESPONSIVE
-------------------------------------------*/

@media screen and (max-width: 720px) {
  .carrousel {
    max-width: 400px;
    margin: auto;
  }
  .img_projet {
    max-width: 400px;
  }
  .img-lien-github {
    width: 75px;
  }

  .elt {
    min-width: 100%;
  }
}

@media screen and (min-width: 720px) {
  .carrousel {
    max-width: 450px;
    margin: auto;
  }

  .img_projet {
    max-width: 450px;
  }

  .btn_sommaire {
    max-width: min-content;
    white-space: nowrap;
  }

  .sommaire {
    padding-left: 10%;
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 1024px) {
  .colonne {
    border-top: var(--border-s-noir);
    margin-top: 30px;
  }

  body.ClairSombre .colonne {
    border-top: var(--border-s-blanc);
  }
}

@media screen and (min-width: 1024px) {
  .carrousel {
    max-width: 500px;
  }

  .img_projet {
    max-width: 800px;
    margin-top: 15px;
  }

  .img-lien-github {
    width: 85px;
  }

  .colonne {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    padding-bottom: 60px;
    gap: 25px;
    background-color: var(--color-bleu-clair);
    border-radius: var(--radius-l);
    padding-top: 10px;
  }

  body.ClairSombre .colonne {
    background-color: var(--color-bleu-fonce);
  }

  .inverser {
    flex-direction: row-reverse;
  }

  .elt {
    max-width: 47%;
  }
  .titre-projet,
  body.ClairSombre .titre-projet {
    border: none;
  }

  .sommaire {
    padding-left: 20%;
  }
}

/* ------------------------------------------
                TAGS 
-------------------------------------------*/

.projet-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.projet-tag a,
.projet-tag p {
  margin: 0;
  margin-top: 10px;
  line-height: 1.5;
}

body.ClairSombre .projet-tag p {
  color: var(--color-noir);
}

.tag {
  border-radius: var(--radius-l);
  max-width: min-content;
  padding: var(--padding-xs);
  margin: 0px;
  opacity: 80%;
  white-space: nowrap;
}

.python {
  background-color: #4d9dda;
}

.php {
  background-color: #777cb4;
}

.mysql {
  background-color: #929394;
}

.html {
  background-color: #ff7415;
}

.css {
  background-color: #2694e4;
}

.js {
  background-color: #f7e018;
}

.logo {
  background-color: #12ca12;
}

.charte-graph {
  background-color: #64f564;
}

.figma {
  background-color: #fe7667;
}

.canva {
  background-color: #71d4e8;
}

.equipe {
  background-color: #c69ea5;
}

.individuel {
  background-color: #b771e8;
}

/* ------------------------------------------
                    CAROUSEL 
-------------------------------------------*/

.container-carrousel {
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  margin: auto;
  top: 15px;
}

.carrousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.diapo {
  min-width: 100%;
  transition: transform 0.75s linear;
  margin: auto;
}

.diapo img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.precedent,
.suivant {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-blanc);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.precedent {
  left: 10px;
}

.suivant {
  right: 10px;
}

.points-navigation {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  cursor: pointer;
}

.point {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--color-bleu-clair);
  border-radius: 50%;
  cursor: pointer;
}

.point.actif {
  background-color: var(--color-bleu-milieu);
}
