@import url("variable.css");

.img_projet {
  width: 100%;
  height: auto;
}

a {
  color: var(--color-noir);
  cursor: pointer;
  font-family: var(--typo-titre);
  text-decoration: none;
}

.btn_retour {
  background-color: var(--color-blanc);
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: var(--border-s-noir);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: var(--typo-size-l);
  z-index: 20;
}

.btn_retour:hover {
  scale: 1.5;
}

.sommaire {
  padding-left: 30px;
}

.btn_sommaire {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  text-align: center;
  background-color: var(--color-bleu-fonce);
  color: var(--color-blanc);
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 5px;
  padding: var(--padding-s);
  font-size: var(--typo-size-s);
  white-space: normal;
}

.btn_sommaire:hover {
  background-color: var(--color-bleu-clair);
  color: var(--color-noir);
}

@media screen and (min-width: 720px) {
  .btn_sommaire {
    max-width: min-content;
    white-space: nowrap;
  }
}

/* ------------------------------------------
                    texte
-------------------------------------------*/

.titre-projet {
  text-align: center;
  border-top: var(--border-s-noir);
}

body.ClairSombre .titre-projet {
  border-top: var(--border-s-blanc);
}

.description-projet {
  margin-left: 20px;
  margin-right: 20px;
}

.img-lien-github {
  display: flex;
  width: 50px;
  margin: auto;
}

body.ClairSombre .img-lien-github {
  color: var(--color-blanc);
}

.img_projet {
  display: flex;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .carousel {
    max-width: 400px;
  }
  .img_projet {
    max-width: 400px;
  }
}

@media screen and (min-width: 720px) {
  .carousel {
    max-width: 450px;
  }
  .img_projet {
    max-width: 450px;
  }
  .img-lien-github {
    width: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    max-width: 500px;
  }
  .img_projet {
    max-width: 800px;
  }
  .img-lien-github {
    width: 85px;
  }
}

/* ------------------------------------------
            COLONE POUR GRAND ECRAN
-------------------------------------------*/

@media screen and (min-width: 1024px) {
  .colone {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    padding-bottom: 60px;
    gap: 25px;
    background-color: var(--color-bleu-clair);
    border-radius: 20px;
    padding-top: 10px;
  }

  body.ClairSombre .colone {
    background-color: var(--color-bleu-fonce);
  }

  .inverser {
    flex-direction: row-reverse;
  }

  .elt {
    max-width: 47%;
  }
  .titre-projet,
  body.ClairSombre .titre-projet {
    border: none;
  }
}

/* ------------------------------------------
                TAGS 
-------------------------------------------*/

.projet-tag {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0px;
  gap: 8px;
  white-space: nowrap;
}

.projet-tag a,
.projet-tag p {
  margin: 0;
  margin-top: 10px;
  line-height: 1.5;
}

body.ClairSombre .projet-tag p {
  color: black;
}

.tag {
  display: none;
  border-radius: 20px;
  max-width: min-content;
  padding: var(--padding-xs);
  margin: 0px;
}

.python {
  background-color: #4082b4;
}

.php {
  background-color: #777cb4;
}

.mysql {
  background-color: #055f87;
}

.html {
  background-color: #e54d26;
}

.css {
  background-color: #0170be;
}

.js {
  background-color: #f7e018;
}

.logo {
  background-color: #12ca12;
}

.charte-graph {
  background-color: #64f564;
}

.equipe {
  background-color: #ff7415;
}

@media screen and (min-width: 1024px) {
  .tag {
    display: block;
  }
}

/* ------------------------------------------
                    CAROUSEL 
-------------------------------------------*/

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.5em;
  overflow: hidden; /* Affiche une seule slide à la fois */
  border: var(--border-s-noir);
  z-index: 1;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: block;
  height: auto;
}

input[type="radio"] {
  display: none;
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.navigation label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

/* CAROUSEL INTERVIEW  */
input#slide1:checked ~ .slides {
  transform: translateX(0%);
}

input#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

input#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

input#slide4:checked ~ .slides {
  transform: translateX(-300%);
}

input#slide5:checked ~ .slides {
  transform: translateX(-400%);
}

input#slide6:checked ~ .slides {
  transform: translateX(-500%);
}

input#slide7:checked ~ .slides {
  transform: translateX(-600%);
}

input#slide8:checked ~ .slides {
  transform: translateX(-700%);
}

/* CAROUSEL MINI JEU  */

input#slide9:checked ~ .slides {
  transform: translateX(0%);
}

input#slide10:checked ~ .slides {
  transform: translateX(-100%);
}

input#slide11:checked ~ .slides {
  transform: translateX(-200%);
}

input#slide12:checked ~ .slides {
  transform: translateX(-300%);
}

/* QUIZ GUYANE */

input#slide13:checked ~ .slides {
  transform: translateX(0%);
}

input#slide14:checked ~ .slides {
  transform: translateX(-100%);
}

input#slide15:checked ~ .slides {
  transform: translateX(-200%);
}

/* PROJET BDE NW5 */

input#slide16:checked ~ .slides {
  transform: translateX(0%);
}

input#slide17:checked ~ .slides {
  transform: translateX(-100%);
}

input:checked ~ .navigation label {
  background: #333;
}
