@import url("variable.css");

body {
  background-color: var(--bleu-milieu);
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.header-sommaire {
  display: none;
  position: fixed;
  top: 50%;
  background-color: #acddf6;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: max-content;
}

.header-sommaire.menu-open {
  z-index: 10;
  top: 0;
}

.header-sommaire a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  border-top: solid 3px black;
  font-family: var(--typo-titre);
}

.menu {
  display: block;
  cursor: pointer;
}

.header-sommaire.menu-open {
  display: flex;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 720px) {
  .menu {
    display: none;
  }
  .header-sommaire {
    display: flex;
    position: static;
    flex-direction: row;
    gap: 2rem;
  }
  .header-sommaire a {
    border: none;
  }
}

header {
  margin: auto;
  border-bottom: solid 1px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: lightblue;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img_header {
  width: auto;
  max-width: 80px;
  height: auto;
}

/*FOOTER*/

footer {
  height: 5em;
  border-top: solid 1px #000000;
}

.coloneFoother {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--bleu-milieu);
}

.eltFoother {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texteFoother {
  font-family: var(--typo-texte);
  text-align: center;
  font-size: 1em;
  color: black;
  text-justify: distribute;
}

/* ANIMATION LOGO FOOTER*/
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer .linkedin,
.logo-footer .github {
  margin: 0 10px;
  position: relative;
}

.logo-footer .linkedin a,
.logo-footer .github a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.logo-footer .linkedin a:hover,
.logo-footer .github a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.logo-footer .linkedin a svg,
.logo-footer .github a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.logo-footer .linkedin a:hover,
.logo-footer .github a:hover {
  color: white;
}

.logo-footer .linkedin a .logo-linkedin,
.logo-footer .github a .logo-github {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.logo-footer .linkedin a .logo-linkedin {
  background-color: #0274b3;
}

.logo-footer .github a .logo-github {
  background-color: #24262a;
}

.logo-footer .linkedin a:hover .logo-linkedin,
.logo-footer .github a:hover .logo-github {
  height: 100%;
}

/* texte */

p,
.lien_entreprise {
  font-family: var(--typo-texte);
  font-size: 1.25em;
  color: black;
  text-justify: distribute;
  margin: 2em 1em;
}

.lien_entreprise {
  text-decoration: underline;
  font-size: 1em;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--typo-titre);
  color: black;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 40px 40px 60px 60px;
  background-color: var(--bleu-clair);
}

h2 {
  text-align: left;
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

.photo_nino {
  height: 10em;
  border-radius: 100%;
}

/* 2 COLONE */
/*
.elt {
  background-color: var(--bleu-clair);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.colone-2-gauche {
  display: flex;
  justify-content: center;
  margin: 2em 1em;
  background-color: var(--bleu-milieu);
  flex-direction: row;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
}
*/
/*TODO mettre un border radius ? (pas au milieu que sur cote --> 2 colone coller*/
/* TODO faire un box shadow ? */

/* pas le points sur les liste*/
.pas_point {
  list-style-type: none;
}
