@import url("variable.css");

/* -----------------------------------------------------------
                        BASES + RESET 
-------------------------------------------------------------*/

html,
body {
  margin: var(--margin-0);
  padding: var(--padding-0);
  height: 100%;
}

body {
  background-image: linear-gradient(
      52deg,
      rgba(163, 163, 163, 0.09) 0%,
      rgba(163, 163, 163, 0.09) 33.3%,
      rgba(100, 100, 100, 0.09) 33.3%,
      rgba(100, 100, 100, 0.09) 66.6%,
      rgba(71, 71, 71, 0.09) 66.6%,
      rgba(71, 71, 71, 0.09) 99%
    ),
    linear-gradient(
      258deg,
      rgba(193, 193, 193, 0.06) 0%,
      rgba(193, 193, 193, 0.06) 33.3%,
      rgba(92, 144, 242, 0.06) 33.3%,
      rgba(92, 144, 242, 0.06) 66.6%,
      rgba(92, 92, 92, 0.06) 66.6%,
      rgba(92, 92, 92, 0.06) 99%
    ),
    linear-gradient(
      129deg,
      rgba(45, 45, 45, 0.03) 0%,
      rgba(45, 45, 45, 0.03) 33.3%,
      rgba(103, 153, 250, 0.03) 33.3%,
      rgba(103, 153, 250, 0.03) 66.6%,
      rgba(173, 173, 173, 0.03) 66.6%,
      rgba(173, 173, 173, 0.03) 99%
    ),
    linear-gradient(
      280deg,
      rgba(24, 18, 18, 0.06) 0%,
      rgba(24, 18, 18, 0.06) 33.3%,
      rgba(81, 81, 81, 0.06) 33.3%,
      rgba(81, 81, 81, 0.06) 66.6%,
      rgba(125, 125, 125, 0.06) 66.6%,
      rgba(125, 125, 125, 0.06) 99%
    ),
    linear-gradient(
      85deg,
      rgba(65, 173, 254, 0.04) 0%,
      rgba(65, 173, 254, 0.04) 33.3%,
      rgba(41, 99, 246, 0.04) 33.3%,
      rgba(41, 99, 246, 0.04) 66.6%,
      rgba(39, 39, 39, 0.04) 66.6%,
      rgba(39, 39, 39, 0.04) 99%
    ),
    linear-gradient(
      128deg,
      rgba(88, 86, 86, 0.06) 0%,
      rgba(88, 86, 86, 0.06) 33.3%,
      rgba(0, 0, 0, 0.06) 33.3%,
      rgba(0, 0, 0, 0.06) 66.6%,
      rgba(72, 171, 248, 0.06) 66.6%,
      rgba(72, 171, 248, 0.06) 99.89999999999999%
    ),
    linear-gradient(
      323deg,
      rgba(40, 40, 40, 0.07) 0%,
      rgba(40, 40, 40, 0.07) 33.3%,
      rgba(137, 134, 134, 0.07) 33.3%,
      rgba(137, 134, 134, 0.07) 66.6%,
      rgba(190, 190, 190, 0.07) 66.6%,
      rgba(190, 190, 190, 0.07) 99.89999999999999%
    ),
    linear-gradient(
      61deg,
      rgba(230, 230, 230, 0) 0%,
      rgba(230, 230, 230, 0) 33.3%,
      rgba(241, 241, 241, 0) 33.3%,
      rgba(241, 241, 241, 0) 66.6%,
      rgba(55, 55, 55, 0) 66.6%,
      rgba(55, 55, 55, 0) 99%
    ),
    linear-gradient(0deg, rgb(33, 97, 211), rgb(145, 214, 250));
}

body.ClairSombre {
  background-image: linear-gradient(
      52deg,
      rgba(163, 163, 163, 0.09) 0%,
      rgba(163, 163, 163, 0.09) 33.3%,
      rgba(100, 100, 100, 0.09) 33.3%,
      rgba(100, 100, 100, 0.09) 66.6%,
      rgba(71, 71, 71, 0.09) 66.6%,
      rgba(71, 71, 71, 0.09) 99%
    ),
    linear-gradient(
      258deg,
      rgba(193, 193, 193, 0.06) 0%,
      rgba(193, 193, 193, 0.06) 33.3%,
      rgba(169, 169, 169, 0.06) 33.3%,
      rgba(169, 169, 169, 0.06) 66.6%,
      rgba(92, 92, 92, 0.06) 66.6%,
      rgba(92, 92, 92, 0.06) 99%
    ),
    linear-gradient(
      129deg,
      rgba(45, 45, 45, 0.03) 0%,
      rgba(45, 45, 45, 0.03) 33.3%,
      rgba(223, 223, 223, 0.03) 33.3%,
      rgba(223, 223, 223, 0.03) 66.6%,
      rgba(173, 173, 173, 0.03) 66.6%,
      rgba(173, 173, 173, 0.03) 99%
    ),
    linear-gradient(
      280deg,
      rgba(24, 18, 18, 0.06) 0%,
      rgba(24, 18, 18, 0.06) 33.3%,
      rgba(81, 81, 81, 0.06) 33.3%,
      rgba(81, 81, 81, 0.06) 66.6%,
      rgba(125, 125, 125, 0.06) 66.6%,
      rgba(125, 125, 125, 0.06) 99%
    ),
    linear-gradient(
      85deg,
      rgba(7, 6, 6, 0.04) 0%,
      rgba(7, 6, 6, 0.04) 33.3%,
      rgba(127, 120, 120, 0.04) 33.3%,
      rgba(127, 120, 120, 0.04) 66.6%,
      rgba(39, 39, 39, 0.04) 66.6%,
      rgba(39, 39, 39, 0.04) 99%
    ),
    linear-gradient(
      128deg,
      rgba(88, 86, 86, 0.06) 0%,
      rgba(88, 86, 86, 0.06) 33.3%,
      rgba(0, 0, 0, 0.06) 33.3%,
      rgba(0, 0, 0, 0.06) 66.6%,
      rgba(140, 140, 140, 0.06) 66.6%,
      rgba(140, 140, 140, 0.06) 99.89999999999999%
    ),
    linear-gradient(
      323deg,
      rgba(40, 40, 40, 0.07) 0%,
      rgba(40, 40, 40, 0.07) 33.3%,
      rgba(137, 134, 134, 0.07) 33.3%,
      rgba(137, 134, 134, 0.07) 66.6%,
      rgba(190, 190, 190, 0.07) 66.6%,
      rgba(190, 190, 190, 0.07) 99.89999999999999%
    ),
    linear-gradient(
      61deg,
      rgba(230, 230, 230, 0) 0%,
      rgba(230, 230, 230, 0) 33.3%,
      rgba(241, 241, 241, 0) 33.3%,
      rgba(241, 241, 241, 0) 66.6%,
      rgba(55, 55, 55, 0) 66.6%,
      rgba(55, 55, 55, 0) 99%
    ),
    linear-gradient(0deg, rgb(0, 0, 0), rgb(2, 3, 3));
  color: var(--color-blanc);
}

/* --------------------------------------
                    HEADER
----------------------------------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  position: relative;
  background-image: linear-gradient(
    60deg,
    var(--color-bleu-clair),
    var(--color-bleu-milieu)
  );
  height: 80px;
}

body.ClairSombre header {
  background-image: linear-gradient(
    60deg,
    var(--color-bleu-milieu),
    var(--color-bleu-fonce)
  );
}

header nav {
  display: none;
  position: fixed;
  flex-direction: column;
  width: max-content;
}

@media screen and (max-width: 1024px) {
  header nav {
    background-image: linear-gradient(
      60deg,
      var(--color-bleu-clair),
      var(--color-bleu-milieu)
    );
  }
  body.ClairSombre header nav {
    background-image: linear-gradient(
      60deg,
      var(--color-bleu-milieu),
      var(--color-bleu-fonce)
    );
  }
}

header nav a {
  color: var(--color-noir);
  padding: var(--padding-m);
  font-family: var(--typo-titre);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  header nav a {
    border-top: var(--border-s-noir);
  }
}

body.ClairSombre header nav a {
  color: var(--color-blanc);
}

.menu {
  display: block;
  cursor: pointer;
  top: 80px;
  right: 20rem;
}

header.menu-open nav {
  display: flex;
  top: 80px;
  margin: auto;
  width: 100%;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: var(--border-s-noir);
}

@media screen and (min-width: 1024px) {
  .menu {
    display: none;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    position: static;
    flex-direction: row;
    gap: var(--gap-m);
  }
  header nav a {
    border-radius: var(--radius-m);
    box-shadow: 0px 0px 60px var(--color-bleu-fonce);
  }
  header nav a:hover {
    background-color: var(--color-bleu-clair);
  }
  header nav a.active {
    background-color: var(--color-bleu-clair);
    box-shadow: var(--shadow-s-bleu-clair);
  }
  header nav a:hover {
    background-color: var(--color-bleu-milieu);
  }
  body.ClairSombre header nav a.active {
    background-color: var(--color-bleu-fonce);
    box-shadow: var(--shadow-s-bleu-fonce-secondaire);
  }
}

/* changement entre img burger et croix*/

.burger {
  display: block;
}

.croix {
  display: none;
}

header.menu-open .burger {
  display: none;
}

header.menu-open .croix {
  display: block;
}

/* changement entre img soleil et lune pour mode clair / sombre */

.imgSoleil,
.imgLune {
  cursor: pointer;
}

.imgSoleil {
  display: block;
}

.imgLune {
  display: none;
}

body.ClairSombre .imgSoleil {
  display: none;
}

body.ClairSombre .imgLune {
  display: block;
  color: var(--color-blanc);
}

.logo_header {
  max-width: 70px;
}

/*------------------------------------------
                FOOTER
------------------------------------------*/

footer {
  height: 5em;
  background-color: var(--color-bleu-clair);
  margin-top: 25px;
}

body.ClairSombre footer {
  background-color: var(--color-bleu-fonce);
}

body.ClairSombre .texteFoother {
  color: var(--color-blanc);
}
.colonneFoother {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.eltFoother {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texteFoother {
  font-family: var(--typo-texte);
  font-size: var(--typo-size-s);
  color: var(--color-noir);
  text-align: center;
  text-justify: distribute;
}

/* ANIMATION LOGO FOOTER*/
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.logo-footer .linkedin,
.logo-footer .github {
  margin: 0 10px;
  position: relative;
}

.logo-footer .linkedin a,
.logo-footer .github a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: var(--color-blanc);
  transition: all 0.3s ease-in-out;
}

.logo-footer .linkedin a:hover,
.logo-footer .github a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.logo-footer .linkedin a svg,
.logo-footer .github a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.logo-footer .linkedin a:hover,
.logo-footer .github a:hover {
  color: var(--color-blanc);
}

.logo-footer .linkedin a .logo-linkedin,
.logo-footer .github a .logo-github {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.logo-footer .linkedin a .logo-linkedin {
  background-color: #0274b3;
}

.logo-footer .github a .logo-github {
  background-color: #24262a;
}

.logo-footer .linkedin a:hover .logo-linkedin,
.logo-footer .github a:hover .logo-github {
  height: 100%;
}

/* ---------------------------------------
          TITRE ET TEXTE
----------------------------------------*/

h1,
h2,
h3,
h4 {
  font-family: var(--typo-titre);
  color: var(--color-noir);
}

h1 {
  text-align: center;
  font-size: var(--typo-size-xxl);
  margin: var(--margin-xl);
  background-color: var(--color-bleu-clair);
  padding: 1rem 0.6rem;
  border-radius: var(--radius-l);
  color: black;
  transition: 0.6s;
  box-shadow: var(--shadow-m-bleu-clair);
}

body.ClairSombre h1 {
  box-shadow: var(--shadow-m-bleu-fonce-secondaire);
}

h1:hover {
  background: var(--color-bleu-fonce);
  background: linear-gradient(
    270deg,
    rgba(10, 45, 110, 0.681) 0%,
    rgba(28, 131, 216, 0.873) 60%
  );
}

body.ClairSombre h1:hover {
  background: linear-gradient(
    270deg,
    rgba(26, 23, 156, 0.681) 0%,
    rgba(13, 84, 216, 0.873) 60%
  );
}

@media screen and (max-width: 820px) {
  h1 {
    margin: var(--margin-s);
  }
}

h2 {
  font-size: var(--typo-size-xl);
}

h3 {
  font-size: var(--typo-size-l);
}

h4 {
  font-size: var(--typo-size-m);
}

body.ClairSombre h1 {
  background-color: var(--color-bleu-fonce);
  color: var(--color-blanc);
}

body.ClairSombre h2,
body.ClairSombre h3,
body.ClairSombre h4 {
  color: var(--color-blanc);
}

/* Paragraphe*/

p,
.lien_entreprise {
  font-family: var(--typo-texte);
  font-size: var(--typo-size-s);
  color: var(--color-noir);
  margin: var(--margin-s);
  text-justify: distribute;
}

.lien_entreprise {
  text-decoration: underline;
  margin: var(--margin-0);
}

body.ClairSombre p,
body.ClairSombre .lien_entreprise {
  color: var(--color-blanc);
}

/* ---------------------------------------
                  BUTTON
----------------------------------------*/

.button {
  position: relative;
  width: 220px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: solid 1px var(--color-noir);
  background-color: var(--color-bleu-clair);
  overflow: hidden;
  border-radius: 15px;
  margin: auto;
  text-decoration: none;
  box-shadow: 0 0 5px var(--color-bleu-milieu);
}

body.ClairSombre .button {
  background-color: var(--color-bleu-milieu);
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  padding-left: 5%;
  color: var(--color-bleu-fonce);
  font-family: var(--typo-titre);
  font-size: var(--typo-size-xs);
}

body.ClairSombre .button .button__text {
  color: var(--color-bleu-clair);
}

.button .button__icon {
  position: absolute;
  transform: translateX(181px);
  height: 100%;
  width: 40px;
  background-color: var(--color-bleu-clair);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: solid 1px var(--color-noir);
}

body.ClairSombre .button .button__icon {
  background-color: var(--color-bleu-fonce);
  border: none;
}

.button .svg {
  width: 20px;
  color: var(--color-bleu-fonce);
}

body.ClairSombre .button .svg {
  color: var(--color-bleu-clair);
}

.button:hover .button__icon {
  width: 220px;
  transform: translateX(0px);
  border: none;
}

/* ---------------------------------------
            CONTACT
----------------------------------------*/
.container {
  margin: var(--margin-xl);
  background-color: var(--color-bleu-clair);
  border-radius: 20px;
  width: 85%;
  min-width: min-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  background-color: var(--color-bleu-clair);
  margin-top: 30px;
}

.elt {
  max-width: 95%;
}

.svg-contact {
  color: var(--color-bleu-fonce);
}

body.ClairSombre .svg-contact {
  color: var(--color-bleu-clair);
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    padding: 5px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .elt {
    max-width: 47%;
  }
}
.container-accueil {
  width: 85%;
}

body.ClairSombre .container {
  background-color: var(--color-bleu-fonce);
}

.elt p a {
  color: var(--color-noir);
}

body.ClairSombre .elt p a {
  color: var(--color-blanc);
}

/* ---------------------------------------
                  IMAGES
----------------------------------------*/

img {
  align-items: center;
}

.img-deco {
  width: 100%;
  display: flex;
  margin: auto;
  padding-bottom: 15px;
}

.photo_nino {
  display: flex;
  margin: auto;
  height: 10em;
  border-radius: var(--radius-100);
  margin-top: 25px;
  box-shadow: var(--shadow-s-bleu-clair);
}
body.ClairSombre .photo_nino {
  box-shadow: var(--shadow-s-bleu-fonce-secondaire);
}
/* ---------------------------------------
                AUTRE
----------------------------------------*/

.pas_point {
  list-style-type: none;
}

@media screen and (min-width: 1024px) {
  .footer-bas-forcer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
