@import url("variable.css");

/* -----------------------------------------------------------
                        BASES + RESET 
-------------------------------------------------------------*/

html,
body {
  margin: var(--margin-0);
  padding: var(--padding-0);
}

body {
  background-color: var(--color-bleu-milieu);
}

body.ClairSombre {
  background-color: var(--color-noir);
  color: var(--color-blanc);
}

/* --------------------------------------
                    HEADER
----------------------------------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  position: relative;
  background-color: var(--color-bleu-clair);
  height: 80px;
}

body.ClairSombre header {
  background-color: var(--color-bleu-fonce);
}

header nav {
  display: none;
  position: fixed;
  flex-direction: column;
  gap: var(--gap-s);
  width: max-content;
}

header nav a {
  color: var(--color-noir);
  padding: var(--padding-m);
  border-top: var(--border-m-noir);
  font-family: var(--typo-titre);
  text-decoration: none;
}

body.ClairSombre header nav a {
  color: var(--color-blanc);
}

.menu {
  display: block;
  cursor: pointer;
  top: 80px;
  right: 20rem;
}

header.menu-open nav {
  display: flex;
  top: 80px;
  margin: auto;
  opacity: 90%;
  width: 100%;
  text-align: center;
}

/* changement entre img burger et croix*/

.burger {
  display: block;
}

.croix {
  display: none;
}

header.menu-open .burger {
  display: none;
}

header.menu-open .croix {
  display: block;
}

/* changement entre img soleil et lune pour mode clair / sombre */

.imgSoleil,
.imgLune {
  width: auto;
  max-width: 50px;
  height: auto;
  cursor: pointer;
}

.imgSoleil {
  display: block;
}

.imgLune {
  display: none;
}

body.ClairSombre .imgSoleil {
  display: none;
}

body.ClairSombre .imgLune {
  display: block;
}

@media screen and (min-width: 720px) {
  .menu {
    display: none;
  }
  header nav {
    display: flex;
    position: static;
    flex-direction: row;
  }
  header nav a {
    border: none;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: var(--border-s-noir);
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: none;
  }
  header nav {
    display: flex;
    position: static;
    flex-direction: row;
    gap: var(--gap-m);
  }
}

.logo_header {
  max-width: 70px;
}

/*------------------------------------------
                FOOTER
------------------------------------------*/

footer {
  height: 5em;
  background-color: var(--color-bleu-clair);
  margin-top: 25px;
}

body.ClairSombre footer {
  background-color: var(--color-bleu-fonce);
}

body.ClairSombre .texteFoother {
  color: var(--color-blanc);
}
.coloneFoother {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.eltFoother {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texteFoother {
  font-family: var(--typo-texte);
  font-size: var(--typo-size-s);
  color: var(--color-noir);
  text-align: center;
  text-justify: distribute;
}

.footer-page-vide {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ANIMATION LOGO FOOTER*/
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.logo-footer .linkedin,
.logo-footer .github {
  margin: 0 10px;
  position: relative;
}

.logo-footer .linkedin a,
.logo-footer .github a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.logo-footer .linkedin a:hover,
.logo-footer .github a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.logo-footer .linkedin a svg,
.logo-footer .github a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.logo-footer .linkedin a:hover,
.logo-footer .github a:hover {
  color: white;
}

.logo-footer .linkedin a .logo-linkedin,
.logo-footer .github a .logo-github {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.logo-footer .linkedin a .logo-linkedin {
  background-color: #0274b3;
}

.logo-footer .github a .logo-github {
  background-color: #24262a;
}

.logo-footer .linkedin a:hover .logo-linkedin,
.logo-footer .github a:hover .logo-github {
  height: 100%;
}

/* ---------------------------------------
          TITRE ET TEXTE
----------------------------------------*/

h1,
h2,
h3,
h4 {
  font-family: var(--typo-titre);
  color: var(--color-noir);
}

h1 {
  text-align: center;
  font-size: var(--typo-size-xxl);
  margin: var(--margin-m);
  background-color: var(--color-bleu-clair);
}

h2 {
  font-size: var(--typo-size-xl);
}

h3 {
  font-size: var(--typo-size-l);
}

h4 {
  font-size: var(--typo-size-m);
}

body.ClairSombre h1 {
  background-color: var(--color-bleu-fonce);
  color: var(--color-blanc);
}

body.ClairSombre h2,
body.ClairSombre h3,
body.ClairSombre h4 {
  color: var(--color-blanc);
}

/* Paragraphe*/

p,
.lien_entreprise {
  font-family: var(--typo-texte);
  font-size: var(--typo-size-s);
  color: var(--color-noir);
  margin: var(--margin-s);
  text-justify: distribute;
}

.lien_entreprise {
  text-decoration: underline;
  margin: var(--margin-0);
}

body.ClairSombre p,
body.ClairSombre .lien_entreprise {
  color: var(--color-blanc);
}

.telecharger-pdf {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  align-items: center;
  border: var(--border-m-noir);
  text-align: center;
  color: var(--color-noir);
  background-color: var(--color-bleu-clair);
  border-radius: 10px;
  max-width: min-content;
  white-space: nowrap;
  padding: var(--padding-s);
  font-size: var(--typo-size-xl);
  text-decoration: none;
}

.telecharger-pdf:hover {
  scale: 1.1;
}

@media screen and (max-width: 450px) {
  .telecharger-pdf {
    white-space: wrap;
  }
}

/* ---------------------------------------
            CONTACT
----------------------------------------*/
.container {
  margin: var(--margin-xl);
  background-color: var(--color-bleu-clair);
  border-radius: 20px;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  background-color: var(--color-bleu-clair);
  margin-top: 30px;
}

@media screen and (min-width: 720px) {
  .container {
    flex-direction: row;
    padding: 5px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
}
.container-accueil {
  width: 85%;
}

body.ClairSombre .container {
  background-color: var(--color-bleu-fonce);
}

.elt {
  max-width: 47%;
}

.elt p a {
  color: var(--color-noir);
}

body.ClairSombre .elt p a {
  color: var(--color-blanc);
}

/* ---------------------------------------
                  IMAGES
----------------------------------------*/

img {
  align-items: center;
}

.img-deco {
  width: 100%;
  display: flex;
  margin: auto;
  padding-bottom: 15px;
}

.photo_nino {
  display: flex;
  margin: auto;
  height: 10em;
  border-radius: 100%;
  margin-top: 25px;
}

/* ---------------------------------------
                AUTRE
----------------------------------------*/

.pas_point {
  list-style-type: none;
}
