:root {
  /* couleurs */
  --color-bleu-fonce: #28337e;
  --color-bleu-milieu: #4269b1;
  --color-bleu-clair: #acddf6;
  --color-noir: #101010;
  --color-blanc: #ffffff;
  --color-fond-barre-progress: #444444;

  /* type typo */
  --typo-titre: "Orbitron", monospace;
  --typo-texte: "IBM Plex Mono", monospace;

  /* taille typo */
  --typo-size-s: 1rem;
  --typo-size-m: 1.1rem;
  --typo-size-l: 1.2rem;
  --typo-size-xl: 1.4rem;
  --typo-size-xxl: 2.1rem;

  /* marge */
  --margin-0: 0;
  --margin-s: 2rem 1rem;
  --margin-m: 2.5rem 3.75rem;
  --margin-xl: 5rem 15rem;

  /* padding */
  --padding-0: 0;
  --padding-xs: 0.3rem 0.2rem;
  --padding-s: 0.4rem 0.25rem;
  --padding-m: 0.5rem 1rem;
  --padding-l: 2rem;
  --padding-xl: 3rem;

  /* gap */
  --gap-s: 1rem;
  --gap-m: 2rem;

  /* bordure */
  --border-s-noir: solid 1px #101010;
  --border-s-noir: solid 2px #101010;
  --border-m-noir: solid 3px #101010;

  --border-s-blanc: solid 1px #ffffff;
  --border-m-blanc: solid 3px #ffffff;

  --border-xs-bleu-fonce: solid 3px var(--color-bleu-fonce);
  --border-s-bleu-fonce: solid 5px var(--color-bleu-fonce);
  --border-m-bleu-fonce: solid 10px var(--color-bleu-fonce);
  --border-l-bleu-fonce: solid 15px var(--color-bleu-fonce);
  --border-xl-bleu-fonce: solid 30px var(--color-bleu-fonce);
  --border-xxl-bleu-fonce: solid 35px var(--color-bleu-fonce);
}
